<!DOCTYPE html>
<html ng-app="polling-places">
<head lang="en">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.9, maximum-scale=1.0">
    <title>When Does My Polling Place Close?</title>
    <base href="/polling-places/">
    <link rel="stylesheet" href="/assets/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/libs/angular/angular.js"></script>
    <script src="/assets/libs/angular-route/angular-route.js"></script>
    <script src="/assets/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/appRoutes.js"></script>
    <script src="/assets/js/services/stateService.js"></script>
    <script src="/assets/js/controllers/stateCtrl.js"></script>
</head>
<body ng-controller="stateController">

<ng-view></ng-view>

<!-- JS Load Zone -->
<!-- End the JS Load Zone -->
</body>
</html>