<!DOCTYPE html>
<html ng-app="polling-places">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>When Does My Polling Place Close?</title>
    <base href="/polling-places/">
    <link rel="stylesheet" href="/assets/libs/bootstrap/dist/css/bootstrap.css">
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/libs/angular/angular.js"></script>
    <script src="/assets/libs/angular-route/angular-route.js"></script>
    <script src="/assets/libs/angular-messages/angular-messages.js"></script>
    <script src="/assets/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/appRoutes.js"></script>
    <script src="/assets/js/services/stateService.js"></script>
    <script src="/assets/js/controllers/stateCtrl.js"></script>
    <script src="/assets/libs/d3/d3.js"></script>
    <script src="/assets/libs/topojson/topojson.js"></script>
    <style>

    .background {
      fill: none;
      pointer-events: all;
    }

    .feature {
      fill: #ccc;
      cursor: pointer;
    }

    .feature.active {
      fill: #00aef3;
    }

    .mesh {
      fill: none;
      stroke: #eee;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    </style>
</head>
<body ng-controller="stateController">

<ng-view></ng-view>

<!-- JS Load Zone -->
<!-- End the JS Load Zone -->
</body>
</html>