<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h1 class="text-center">Which state do you live in?</h1>
            <input type="text" class="form-control" ng-model="selected" typeahead="state as state.state for state in states | filter:$viewValue | limitTo:5" class="form-control">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <p class="text-center">In your state...{{ selected.description }}</p>
            <br />
            <br />
            <p class="text-center">Find out more at <a href="http://iwillvote.com/">IWillVote.com</a></p>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p class="text-center">Find me on Twitter <br /><a href="http://twitter.com/cyarie">@cyarie</a></p>
        </div>
    </div>
</div>

