<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h1 class="text-center">Which state do you live in?</h1>
            <input type="text" ng-model="selected" typeahead="state as state.state for state in states | filter:$viewValue | limitTo:5" class="form-control">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <p class="text-center bg-success">{{ selected.description }}</p>
            <p class="text-center">Want to know where to vote?</p>
            <p class="text-center"><a href="http://iwillvote.com/">IWillVote.com</a></p>
        </div>
    </div>
    <div class="row footer">
        <div class="col-xs-12 col-md-12">
            <p class="text-center">Find me on Twitter</p>
            <p class="text-center"><a href="http://twitter.com/cyarie">@cyarie</a></p>
        </div>
    </div>
</div>

