/* Main Content */

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: #eee;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Sets fixed height of the footer */
  height: 60px;
  background-color: #eee;
}

.container {
  width: auto;
  max-width: 100%;
}

.container .text-muted {
  margin: 20px 0;
}

.form-control {
  max-width: 100%;
  width: 50%;
  margin: auto;
  @media (max-width: 768px) {
    width: 100%;
  }

}